.cityCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.cityCard img {
    max-width: 600px;
    width: 90%;
}

.infoText {
    width: 600px;
    margin-left: 20px;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}